 

    <fieldset>
        <fieldset id="fieldset-resultado">
            <legend id="resultado">Resultado Pesquisado:{{EndInput}}</legend>
                <table id="tabelaResultado" >
                      <tbody>
                  
        {{#each objetosEncontrados}}
        <tr>
          <td>{{produtoNoEndereco.EAN}}</td>
          <td>{{produtoNoEndereco.codigo}}</td>
          <td>{{produtoNoEndereco.descricao}}</td>
          <td>{{produtoNoEndereco.validade}}</td>
          <td>{{produtoNoEndereco.quantidade}}</td>
          <td>{{rua}}</td>
          <td>{{lado}}</td>
          <td>{{predio}}</td>
          <td>{{andar}}</td>
        </tr>
      {{/each}}
   <tr>   <th>TOTAL do Produto</th> <td></td><td></td><td></td><td>{{soma}}</td> <td></td><td></td><td></td><td></td></tr>
              
                      </tbody>
                </table>
        </fieldset>
    </fieldset>
