 

    <fieldset>
        <fieldset id="fieldset-resultado">
            <legend id="resultado">Resultado Pesquisado:{{EndInput}}</legend>
                <table id="tabelaResultado" >
                      <tbody>
                 
                            {{#each endPesqusa}}
                                <tr><th>CODIGO</th><th>EAN</th><th>DESCRIÇÃO</th><th>VALIDADE</th><th>QUANTIDADE</th><th>RUA</th><th>LADO</th><th>PREDIO</th><th>ANDAR</th></tr><tr>
                                  <td>{{codigo}}</td><td>{{produtoNoEndereco.EAN}}</td><td>{{produtoNoEndereco.descricao}}</td><td>{{produtoNoEndereco.validade}}</td><td>{{produtoNoEndereco.quantidade}}</td><td>{{rua}}</td><td>{{lado}}</td><td>{{predio}}</td><td>{{andar}}</td></tr><br>
                            
                            {{/each}}           
                      </tbody>
                </table>
        </fieldset>
    </fieldset>
