 

    <fieldset>
        <fieldset id="fieldset-resultado">
            <legend id="resultado">Resultado Pesquisado:{{input}}</legend>
                <table id="tabelaResultado" >
                      <tbody><thead>{{msg.msg}}</thead>
                        <tr><th>EAN</th><th>CODIGO</th><th>DESCRIÇÃO</th><th>VALIDADE</th><th>QUANTIDADE</th><th>RUA</th><th>LADO</th><th>PREDIO</th><th>ANDAR</th></tr><tr>
                            <td>{{ProdPesquisa.Ean}}</td><td>{{ProdPesquisa.Codigo}}</td><td>{{ProdPesquisa.Nome}}</td><td>{{ProdPesquisa.Validade}}</td><td>{{ProdPesquisa.Quantidade}}</td><td>{{ProdPesquisa.Rua}}</td><td>{{ProdPesquisa.Lado}}</td><td>{{ProdPesquisa.Predio}}</td><td>{{ProdPesquisa.Andar}}</td></tr><br>
                      </tbody>
                </table>
        </fieldset>
    </fieldset>

